# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ipch/
x64/
.vs/
ABASection/ABASection/Debug
ABASection/ABASection/Release
ABASection/Debug
ABASection/Release
Fai/Fai/Debug
FaiFai/Release
Fai/Debug
Fai/Release